
 /*-------------------------
            RESET
 ------------------------*/
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }



*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}



body {
    /* Box */

    /* Border */

    /* Background */
    background: #F1F1F1;

    /* Text */
    color: rgba(0, 0, 0, .6);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3;

    /* Others */
    
}















/* HEADER  */


.topbar { 

    /* Box */
    
    /* Border */

    /* Background */
    background: #2C3E50;

    /* Text */
    color: #FFF;

    /* Others */
}

    .topbar__logo { 

        /* Box */
        display: block;

        /* Border */

        /* Background */
        
        /* Text */
        font-size: 24px;
        text-align: center;
        padding: 11px 0;

        /* Others */
    }


    .topbar__nav { 

        /* Box */
        padding-bottom: 16px;

        /* Border */

        /* Background */
        
        /* Text */
        text-align: center;
        line-height: 2;

        /* Others */
    }

    .topbar__nav a {
        display: inline-block;
        margin: 0 12px;

        color: rgba(255, 255, 255, .67);
    }




    .topbar__nav a:hover, 
    a.topbar__nav--active {
        color: #FFF;

        transition: color .3s;
    }

 


/* CONTAINER */
.container {
    padding: 0 15px;
    max-width: 1080px;
    margin: 0 auto;
}

/* SIDEBAR */
.sidebar {
    font-size: 12px;
}

    .sidebar a {
        display: block;
        text-decoration: none;
    }

    .sidebar a:hover {
        text-decoration: underline;
    }

    .sidebar a:hover,
    .sidebar a.sidebar--active {
        color: #000;
    }


/* RESPONSIVE */

@media only screen and (min-width: 565px) {

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }

    .topbar__nav,
    .topbar__logo {
        padding: 0;

    }

    .topbar__nav a {
        margin: 0 25px;
    }
}













/*  OTHER */